.container{
    height: 200px;
    width: 600px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: end;
}
.child1 ,.child2,.child3,.child4{
    border: 2px solid black;
    height: 100px;
    width: 100px;
}
.child1{
    background-color: red;
    flex-basis: 50%;
}
.child2{
    background-color: yellow
}
.child3{
    background-color: blue;
}
.child4{
    background-color: green;
}